<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
home view
<br>

<!-- <div ng-controller="ListController"> -->
<!-- 	<select ng-model="drList"> -->
<!-- 		<option value="1">Medicina Familie</option> -->
<!-- 		<option value="2">Pediatrie</option> -->
<!-- 	</select>	 -->
	
	
<!-- 	<form name="users" ng-submit="getUsers(drList)"> -->
<!-- 		<input type="submit" value="Search"> -->
<!-- 	</form> -->
	
<!-- 	<span ng-repeat="patient in patients"> -->
<!-- 	<a ui-sref="pacient/({id: patient.id})">{{patient.nume}} {{patient.prenume}}</a><br> -->
<!-- 	</span> -->
	
<!-- 	<span ng-repeat="pacient in pacients">{{pacient.nume}}</span> -->
<!-- </div> -->
	<br>

<button ui-sref="pacienti" ui-sref-active="active">Pacienti</button>
</body>
</html>